{
.appVersion = "3134";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Italic;
tag = ital;
}
);
date = "2024-07-30 02:16:30 +0000";
familyName = "College Sans";
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn CAT;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature ordn;
feature case;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup locl_latn_0 {
	script latn;
	language CAT;
	sub l periodcentered' l by periodcentered.loclCAT;
	sub L periodcentered' L by periodcentered.loclCAT.case;
} locl_latn_0;
";
tag = locl;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub periodcentered.loclCAT by periodcentered.loclCAT.case;
";
tag = case;
},
{
automatic = 1;
code = "lookup rlig_latn_0 {
	lookupflag IgnoreMarks;
	script latn;
	sub f b by f_b.rlig;
	sub f h by f_h.rlig;
	sub f k by f_k.rlig;
	sub f l by f_l.rlig;
	sub f thorn by f_thorn.rlig;
} rlig_latn_0;
";
tag = rlig;
}
);
fontMaster = (
{
axesValues = (
400,
0
);
guides = (
{
angle = 113.6725;
pos = (461,-160);
}
);
id = m002;
metricValues = (
{
over = 20;
pos = 750;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
over = -20;
pos = -300;
},
{
}
);
name = Regular;
stemValues = (
80,
60,
65,
80
);
}
);
instances = (
{
axesValues = (
400,
0
);
instanceInterpolations = {
m002 = 1;
};
name = Regular;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
stems = (
{
name = "VStem 1";
},
{
name = "VStem 2";
},
{
horizontal = 1;
name = "HStem 1";
},
{
horizontal = 1;
name = "HStem 2";
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
