(
A,
AE,
B,
C,
D,
Eth,
E,
F,
G,
H,
I,
J,
K,
L,
M,
N,
O,
OE,
P,
Thorn,
Q,
R,
S,
Germandbls,
T,
U,
V,
W,
X,
Y,
Z,
a,
ae,
b,
c,
d,
eth,
e,
f,
g,
h,
i,
j,
k,
l,
m,
n,
o,
oe,
p,
thorn,
q,
r,
s,
germandbls,
t,
u,
v,
w,
x,
y,
z,
f.lig_ascender,
f_b.rlig,
f_h.rlig,
f_k.rlig,
f_l.rlig,
f_thorn.rlig,
ordfeminine,
ordmasculine,
zero,
one,
two,
three,
four,
five,
six,
seven,
eight,
nine,
.notdef,
space,
nbspace,
period,
comma,
colon,
semicolon,
ellipsis,
exclam,
exclamdown,
question,
questiondown,
periodcentered,
bullet,
asterisk,
numbersign,
slash,
backslash,
periodcentered.loclCAT,
periodcentered.loclCAT.case,
hyphen,
endash,
emdash,
underscore,
parenleft,
parenright,
braceleft,
braceright,
bracketleft,
bracketright,
quotesinglbase,
quotedblbase,
quotedblleft,
quotedblright,
quoteleft,
quoteright,
guillemetleft,
guillemetright,
guilsinglleft,
guilsinglright,
quotedbl,
quotesingle,
at,
ampersand,
paragraph,
section,
copyright,
registered,
trademark,
degree,
bar,
cent,
dollar,
euro,
sterling,
yen,
plus,
minus,
multiply,
divide,
equal,
greater,
less,
asciitilde,
asciicircum,
percent,
dieresiscomb,
dotaccentcomb,
gravecomb,
acutecomb,
hungarumlautcomb,
caroncomb.alt,
circumflexcomb,
caroncomb,
brevecomb,
ringcomb,
tildecomb,
macroncomb,
commaaccentcomb,
cedillacomb,
ogonekcomb,
dieresis,
dotaccent,
grave,
acute,
hungarumlaut,
circumflex,
caron,
breve,
ring,
tilde,
macron,
cedilla,
ogonek
)