{
.appVersion = "3428";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Italic;
tag = ital;
}
);
customParameters = (
{
name = fsType;
value = (
);
},
{
name = "Use Typo Metrics";
value = 1;
}
);
date = "2024-07-30 02:16:30 +0000";
familyName = Amarna;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn AZE;
languagesystem latn CRT;
languagesystem latn KAZ;
languagesystem latn TAT;
languagesystem latn TRK;
languagesystem latn ROM;
languagesystem latn MOL;
languagesystem latn CAT;
languagesystem latn NLD;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature ordn;
feature case;
feature ss01;
feature ss02;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup ccmp_DFLT_1 {
	@CombiningTopAccents = [acutecomb brevecomb caroncomb circumflexcomb commaturnedabovecomb dieresiscomb dotaccentcomb gravecomb hungarumlautcomb macroncomb ringcomb tildecomb];
	lookupflag UseMarkFilteringSet @CombiningTopAccents;
	sub i' @CombiningTopAccents by idotless;
	sub j' @CombiningTopAccents by jdotless;
} ccmp_DFLT_1;
";
tag = ccmp;
},
{
automatic = 1;
code = "script latn;
language AZE;
lookup locl_latn_0 {
	sub i by idotaccent;
} locl_latn_0;
language CRT;
lookup locl_latn_0;
language KAZ;
lookup locl_latn_0;
language TAT;
lookup locl_latn_0;
language TRK;
lookup locl_latn_0;

script latn;
language ROM;
lookup locl_latn_1 {
	sub Scedilla by Scommaaccent;
	sub scedilla by scommaaccent;
	sub Tcedilla by Tcommaaccent;
	sub tcedilla by tcommaaccent;
} locl_latn_1;
language MOL;
lookup locl_latn_1;

script latn;
language CAT;
lookup locl_latn_2 {
	sub l periodcentered' l by periodcentered.loclCAT;
	sub L periodcentered' L by periodcentered.loclCAT.case;
} locl_latn_2;

script latn;
language NLD;
lookup locl_latn_3 {
	sub iacute j' by jacute;
	sub Iacute J' by Jacute;
} locl_latn_3;
";
tag = locl;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub periodcentered.loclCAT by periodcentered.loclCAT.case;
";
tag = case;
},
{
automatic = 1;
code = "script latn;
lookup rlig_latn_0 {
	lookupflag IgnoreMarks;
	sub f b by f_b.rlig;
	sub f h by f_h.rlig;
	sub f k by f_k.rlig;
	sub f l by f_l.rlig;
	sub f thorn by f_thorn.rlig;
} rlig_latn_0;
";
tag = rlig;
},
{
automatic = 1;
code = "sub e by e.ss01;
sub eacute by eacute.ss01;
sub ecaron by ecaron.ss01;
sub ecircumflex by ecircumflex.ss01;
sub edieresis by edieresis.ss01;
sub edotaccent by edotaccent.ss01;
sub egrave by egrave.ss01;
sub emacron by emacron.ss01;
sub eogonek by eogonek.ss01;
sub etilde by etilde.ss01;
";
labels = (
{
language = dflt;
value = "Uncial e";
}
);
tag = ss01;
},
{
automatic = 1;
code = "sub U by U.ss02;
sub Uacute by Uacute.ss02;
sub Ubreve by Ubreve.ss02;
sub Ucaron by Ucaron.ss02;
sub Ucircumflex by Ucircumflex.ss02;
sub Udieresis by Udieresis.ss02;
sub Ugrave by Ugrave.ss02;
sub Uhungarumlaut by Uhungarumlaut.ss02;
sub Umacron by Umacron.ss02;
sub Uogonek by Uogonek.ss02;
sub Uring by Uring.ss02;
sub Utilde by Utilde.ss02;
";
labels = (
{
language = dflt;
value = "U with stem";
}
);
tag = ss02;
}
);
fontMaster = (
{
axesValues = (
100,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = Light;
id = m006;
metricValues = (
{
pos = 1025;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
pos = -350;
},
{
},
{
over = 20;
pos = 750;
},
{
over = -20;
pos = -300;
}
);
name = Thin;
stemValues = (
35,
25,
30,
35
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
100,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = Light_Extended;
id = m007;
metricValues = (
{
pos = 1025;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
pos = -350;
},
{
pos = 8;
},
{
over = 20;
pos = 750;
},
{
over = -20;
pos = -300;
}
);
name = "Thin Italic";
stemValues = (
80,
60,
65,
80
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
425,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
guides = (
{
angle = 113.6725;
lockAngle = 1;
locked = 1;
pos = (462,-160);
}
);
id = m002;
metricValues = (
{
pos = 1025;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
pos = -350;
},
{
},
{
over = 20;
pos = 750;
},
{
over = -20;
pos = -300;
}
);
name = Regular;
stemValues = (
80,
60,
65,
80
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
425,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = Extended;
id = m003;
metricValues = (
{
pos = 1025;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
pos = -350;
},
{
pos = 8;
},
{
over = 20;
pos = 750;
},
{
over = -20;
pos = -300;
}
);
name = Italic;
stemValues = (
80,
60,
65,
80
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
700,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 700;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = SemiBold;
id = m008;
metricValues = (
{
pos = 1025;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
pos = -350;
},
{
},
{
over = 20;
pos = 750;
},
{
over = -20;
pos = -300;
}
);
name = Bold;
stemValues = (
95,
70,
75,
95
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
700,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 700;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = SemiBold_Extended;
id = m009;
metricValues = (
{
pos = 1025;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
pos = -350;
},
{
pos = 8;
},
{
over = 20;
pos = 750;
},
{
over = -20;
pos = -300;
}
);
name = "Bold Italic";
stemValues = (
95,
70,
75,
95
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
}
);
instances = (
{
axesValues = (
100,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
name = Thin;
weightClass = 100;
},
{
axesValues = (
100,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 100;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
isItalic = 1;
linkStyle = Thin;
name = "Thin Italic";
weightClass = 100;
},
{
axesValues = (
200,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 200;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
name = ExtraLight;
weightClass = 200;
},
{
axesValues = (
200,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 200;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
isItalic = 1;
linkStyle = ExtraLight;
name = "ExtraLight Italic";
weightClass = 200;
},
{
axesValues = (
300,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 300;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
name = Light;
weightClass = 300;
},
{
axesValues = (
300,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 300;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
isItalic = 1;
linkStyle = Light;
name = "Light Italic";
weightClass = 300;
},
{
axesValues = (
425,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
name = Regular;
},
{
axesValues = (
425,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 400;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
isItalic = 1;
linkStyle = Regular;
name = Italic;
},
{
axesValues = (
500,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 500;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
name = Medium;
weightClass = 500;
},
{
axesValues = (
500,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 500;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
isItalic = 1;
linkStyle = Medium;
name = "Medium Italic";
weightClass = 500;
},
{
axesValues = (
600,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 600;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
name = SemiBold;
weightClass = 600;
},
{
axesValues = (
600,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 600;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
isItalic = 1;
linkStyle = SemiBold;
name = "SemiBold Italic";
weightClass = 600;
},
{
axesValues = (
700,
0
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 700;
},
{
Axis = Italic;
Location = 0;
}
);
}
);
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
},
{
axesValues = (
700,
1
);
customParameters = (
{
name = "Axis Location";
value = (
{
Axis = Weight;
Location = 700;
},
{
Axis = Italic;
Location = 1;
}
);
}
);
isBold = 1;
isItalic = 1;
linkStyle = Regular;
name = "Bold Italic";
weightClass = 700;
}
);
kerningLTR = {
m006 = {
"@MMK_L_A" = {
"@MMK_R_O" = -30;
"@MMK_R_T" = -150;
"@MMK_R_U" = -20;
"@MMK_R_V" = -130;
"@MMK_R_W" = -100;
"@MMK_R_Y" = -160;
"@MMK_R_o" = -10;
"@MMK_R_t" = -40;
"@MMK_R_v" = -70;
};
"@MMK_L_B" = {
"@MMK_R_J" = -30;
"@MMK_R_T" = -20;
"@MMK_R_V" = -30;
"@MMK_R_W" = -30;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -30;
};
"@MMK_L_C" = {
"@MMK_R_J" = -20;
"@MMK_R_T" = -10;
"@MMK_R_f" = -30;
"@MMK_R_t" = -20;
};
"@MMK_L_E" = {
"@MMK_R_A" = 30;
"@MMK_R_O" = -40;
"@MMK_R_f" = -40;
"@MMK_R_v" = -50;
};
"@MMK_L_F" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -140;
"@MMK_R_O" = -40;
"@MMK_R_a" = -50;
"@MMK_R_f" = -30;
"@MMK_R_i" = -60;
"@MMK_R_o" = -40;
"@MMK_R_p" = -50;
"@MMK_R_s" = -40;
"@MMK_R_u" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -40;
"@MMK_R_z" = -40;
i = 0;
j = 0;
slash = -50;
};
"@MMK_L_G" = {
"@MMK_R_f" = -10;
};
"@MMK_L_J" = {
"@MMK_R_A" = -30;
};
"@MMK_L_K" = {
"@MMK_R_O" = -60;
"@MMK_R_o" = -30;
"@MMK_R_u" = -20;
"@MMK_R_v" = -70;
};
"@MMK_L_L" = {
"@MMK_R_O" = -60;
"@MMK_R_quoteright" = -150;
"@MMK_R_v" = -90;
};
"@MMK_L_O" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -120;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -70;
"@MMK_R_o" = 10;
"@MMK_R_t" = 20;
"@MMK_R_v" = 10;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -150;
"@MMK_R_O" = -70;
"@MMK_R_a" = -180;
"@MMK_R_f" = -30;
"@MMK_R_i" = -170;
"@MMK_R_o" = -200;
"@MMK_R_u" = -160;
"@MMK_R_v" = -190;
i = 0;
j = 0;
};
"@MMK_L_U" = {
"@MMK_R_A" = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -140;
"@MMK_R_J" = -130;
"@MMK_R_O" = -30;
"@MMK_R_a" = -30;
"@MMK_R_o" = -50;
slash = -80;
};
"@MMK_L_W" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -120;
slash = -30;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -140;
"@MMK_R_O" = -70;
"@MMK_R_a" = -80;
"@MMK_R_i" = -50;
"@MMK_R_o" = -80;
i = 0;
j = 0;
slash = -70;
};
"@MMK_L_dash" = {
"@MMK_R_o" = 20;
};
"@MMK_L_e" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_f" = {
"@MMK_R_J" = -60;
"@MMK_R_V" = 50;
"@MMK_R_W" = 60;
"@MMK_R_X" = 30;
"@MMK_R_Y" = 40;
"@MMK_R_quoteright" = 40;
};
"@MMK_L_k" = {
"@MMK_R_A" = 40;
};
"@MMK_L_n" = {
"@MMK_R_T" = -190;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -60;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_o" = {
"@MMK_R_A" = -20;
"@MMK_R_J" = -70;
"@MMK_R_O" = 10;
"@MMK_R_T" = -200;
"@MMK_R_V" = -50;
"@MMK_R_Y" = -80;
"@MMK_R_dash" = 30;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_period" = {
"@MMK_R_quote" = -80;
"@MMK_R_quoteright" = -80;
};
"@MMK_L_q" = {
j = 50;
};
"@MMK_L_quote" = {
"@MMK_R_period" = -80;
};
"@MMK_L_quoteleft" = {
"@MMK_R_a" = -30;
"@MMK_R_o" = -60;
"@MMK_R_s" = -40;
};
"@MMK_L_r" = {
"@MMK_R_A" = -70;
};
"@MMK_L_t" = {
"@MMK_R_A" = 30;
};
"@MMK_L_v" = {
"@MMK_R_A" = -70;
"@MMK_R_J" = -110;
"@MMK_R_O" = 10;
};
slash = {
"@MMK_R_a" = -80;
"@MMK_R_i" = -70;
"@MMK_R_o" = -70;
"@MMK_R_p" = -50;
"@MMK_R_s" = -70;
"@MMK_R_z" = -60;
i = 0;
};
};
m007 = {
"@MMK_L_A" = {
"@MMK_R_O" = -30;
"@MMK_R_T" = -150;
"@MMK_R_U" = -20;
"@MMK_R_V" = -130;
"@MMK_R_W" = -100;
"@MMK_R_Y" = -160;
"@MMK_R_f" = -20;
"@MMK_R_o" = -10;
"@MMK_R_t" = -40;
"@MMK_R_v" = -70;
};
"@MMK_L_B" = {
"@MMK_R_J" = -30;
"@MMK_R_T" = -20;
"@MMK_R_V" = -30;
"@MMK_R_W" = -30;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -30;
};
"@MMK_L_C" = {
"@MMK_R_J" = -20;
"@MMK_R_T" = -10;
"@MMK_R_f" = -30;
"@MMK_R_t" = -20;
};
"@MMK_L_E" = {
"@MMK_R_A" = 30;
"@MMK_R_O" = -40;
"@MMK_R_f" = -40;
"@MMK_R_v" = -50;
};
"@MMK_L_F" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -140;
"@MMK_R_O" = -40;
"@MMK_R_a" = -50;
"@MMK_R_f" = -30;
"@MMK_R_i" = -60;
"@MMK_R_o" = -40;
"@MMK_R_p" = -50;
"@MMK_R_s" = -40;
"@MMK_R_u" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -40;
"@MMK_R_z" = -40;
i = 0;
j = 0;
slash = -50;
};
"@MMK_L_G" = {
"@MMK_R_f" = -10;
};
"@MMK_L_J" = {
"@MMK_R_A" = -30;
};
"@MMK_L_K" = {
"@MMK_R_O" = -60;
"@MMK_R_o" = -30;
"@MMK_R_u" = -20;
"@MMK_R_v" = -70;
};
"@MMK_L_L" = {
"@MMK_R_O" = -60;
"@MMK_R_quoteright" = -150;
"@MMK_R_v" = -90;
};
"@MMK_L_O" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -120;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -70;
"@MMK_R_o" = 10;
"@MMK_R_t" = 20;
"@MMK_R_v" = 10;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -150;
"@MMK_R_O" = -70;
"@MMK_R_a" = -180;
"@MMK_R_i" = -170;
"@MMK_R_o" = -200;
"@MMK_R_u" = -160;
"@MMK_R_v" = -190;
i = 0;
j = 0;
};
"@MMK_L_U" = {
"@MMK_R_A" = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -140;
"@MMK_R_J" = -130;
"@MMK_R_O" = -30;
"@MMK_R_a" = -30;
"@MMK_R_o" = -50;
slash = -80;
};
"@MMK_L_W" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -120;
slash = -30;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -140;
"@MMK_R_O" = -70;
"@MMK_R_a" = -80;
"@MMK_R_i" = -50;
"@MMK_R_o" = -80;
i = 0;
j = 0;
slash = -70;
};
"@MMK_L_dash" = {
"@MMK_R_o" = 20;
};
"@MMK_L_e" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_f" = {
"@MMK_R_J" = -60;
"@MMK_R_V" = 50;
"@MMK_R_W" = 60;
"@MMK_R_X" = 30;
"@MMK_R_Y" = 40;
"@MMK_R_quoteright" = 40;
};
"@MMK_L_k" = {
"@MMK_R_A" = 40;
};
"@MMK_L_n" = {
"@MMK_R_T" = -190;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -60;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_o" = {
"@MMK_R_A" = -20;
"@MMK_R_J" = -70;
"@MMK_R_O" = 10;
"@MMK_R_T" = -200;
"@MMK_R_V" = -50;
"@MMK_R_Y" = -80;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_period" = {
"@MMK_R_quote" = -80;
"@MMK_R_quoteright" = -80;
};
"@MMK_L_q" = {
j = 50;
};
"@MMK_L_quote" = {
"@MMK_R_period" = -80;
};
"@MMK_L_quoteleft" = {
"@MMK_R_a" = -30;
"@MMK_R_o" = -60;
"@MMK_R_s" = -20;
};
"@MMK_L_quoteright" = {
"@MMK_R_I" = 30;
"@MMK_R_S" = -10;
"@MMK_R_T" = 60;
"@MMK_R_l" = 30;
"@MMK_R_s" = -10;
space = 40;
};
"@MMK_L_r" = {
"@MMK_R_A" = -70;
};
"@MMK_L_s" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_t" = {
"@MMK_R_A" = 30;
};
"@MMK_L_v" = {
"@MMK_R_A" = -70;
"@MMK_R_J" = -110;
"@MMK_R_O" = 10;
};
quoteright = {
space = 40;
};
slash = {
"@MMK_R_a" = -80;
"@MMK_R_i" = -70;
"@MMK_R_o" = -70;
"@MMK_R_p" = -50;
"@MMK_R_s" = -70;
"@MMK_R_z" = -60;
i = 0;
};
};
m002 = {
"@MMK_L_A" = {
"@MMK_R_O" = -30;
"@MMK_R_T" = -150;
"@MMK_R_U" = -20;
"@MMK_R_V" = -130;
"@MMK_R_W" = -100;
"@MMK_R_Y" = -160;
"@MMK_R_t" = -40;
"@MMK_R_v" = -50;
};
"@MMK_L_B" = {
"@MMK_R_J" = -30;
"@MMK_R_T" = -20;
"@MMK_R_V" = -30;
"@MMK_R_W" = -30;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -30;
};
"@MMK_L_C" = {
"@MMK_R_J" = -20;
"@MMK_R_T" = -10;
"@MMK_R_f" = -30;
"@MMK_R_t" = -20;
};
"@MMK_L_E" = {
"@MMK_R_A" = 30;
"@MMK_R_O" = -40;
"@MMK_R_f" = -40;
"@MMK_R_v" = -50;
};
"@MMK_L_F" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -140;
"@MMK_R_O" = -40;
"@MMK_R_a" = -50;
"@MMK_R_f" = -30;
"@MMK_R_i" = -60;
"@MMK_R_o" = -40;
"@MMK_R_p" = -50;
"@MMK_R_s" = -40;
"@MMK_R_u" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -40;
"@MMK_R_z" = -40;
i = 0;
j = 0;
slash = -50;
};
"@MMK_L_G" = {
"@MMK_R_f" = -10;
};
"@MMK_L_J" = {
"@MMK_R_A" = -30;
};
"@MMK_L_K" = {
"@MMK_R_O" = -60;
"@MMK_R_o" = -30;
"@MMK_R_u" = -20;
"@MMK_R_v" = -70;
};
"@MMK_L_L" = {
"@MMK_R_O" = -60;
"@MMK_R_quoteright" = -150;
"@MMK_R_v" = -70;
};
"@MMK_L_O" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -120;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -70;
"@MMK_R_o" = 10;
"@MMK_R_t" = 20;
"@MMK_R_v" = 10;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -150;
"@MMK_R_O" = -70;
"@MMK_R_a" = -180;
"@MMK_R_i" = -170;
"@MMK_R_o" = -200;
"@MMK_R_u" = -160;
"@MMK_R_v" = -190;
i = 0;
j = 0;
};
"@MMK_L_U" = {
"@MMK_R_A" = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -140;
"@MMK_R_J" = -130;
"@MMK_R_O" = -30;
"@MMK_R_a" = -30;
"@MMK_R_o" = -50;
slash = -80;
};
"@MMK_L_W" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -120;
slash = -30;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -140;
"@MMK_R_O" = -70;
"@MMK_R_a" = -80;
"@MMK_R_i" = -50;
"@MMK_R_o" = -80;
i = 0;
j = 0;
slash = -70;
};
"@MMK_L_dash" = {
"@MMK_R_o" = 20;
};
"@MMK_L_e" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_f" = {
"@MMK_R_J" = -60;
"@MMK_R_V" = 50;
"@MMK_R_W" = 60;
"@MMK_R_X" = 30;
"@MMK_R_Y" = 40;
"@MMK_R_quoteright" = 40;
};
"@MMK_L_k" = {
"@MMK_R_A" = 40;
};
"@MMK_L_n" = {
"@MMK_R_T" = -190;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -60;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_o" = {
"@MMK_R_A" = -20;
"@MMK_R_J" = -70;
"@MMK_R_O" = 10;
"@MMK_R_T" = -200;
"@MMK_R_V" = -50;
"@MMK_R_Y" = -80;
"@MMK_R_dash" = 30;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_period" = {
"@MMK_R_quote" = -80;
"@MMK_R_quoteright" = -80;
};
"@MMK_L_q" = {
j = 50;
};
"@MMK_L_quote" = {
"@MMK_R_period" = -80;
};
"@MMK_L_quoteleft" = {
"@MMK_R_a" = -30;
"@MMK_R_o" = -60;
"@MMK_R_s" = -40;
};
"@MMK_L_r" = {
"@MMK_R_A" = -70;
};
"@MMK_L_t" = {
"@MMK_R_A" = 30;
};
"@MMK_L_v" = {
"@MMK_R_A" = -70;
"@MMK_R_J" = -110;
"@MMK_R_O" = 10;
"@MMK_R_f" = 50;
};
slash = {
"@MMK_R_a" = -80;
"@MMK_R_i" = -70;
"@MMK_R_o" = -70;
"@MMK_R_p" = -60;
"@MMK_R_s" = -70;
"@MMK_R_z" = -60;
i = 0;
};
};
m003 = {
"@MMK_L_A" = {
"@MMK_R_O" = -30;
"@MMK_R_T" = -150;
"@MMK_R_U" = -20;
"@MMK_R_V" = -130;
"@MMK_R_W" = -100;
"@MMK_R_Y" = -160;
"@MMK_R_o" = -10;
"@MMK_R_t" = -40;
"@MMK_R_v" = -70;
};
"@MMK_L_B" = {
"@MMK_R_J" = -30;
"@MMK_R_T" = -20;
"@MMK_R_V" = -30;
"@MMK_R_W" = -30;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -30;
};
"@MMK_L_C" = {
"@MMK_R_J" = -20;
"@MMK_R_T" = -10;
"@MMK_R_f" = -30;
"@MMK_R_t" = -20;
};
"@MMK_L_E" = {
"@MMK_R_A" = 30;
"@MMK_R_O" = -40;
"@MMK_R_f" = -40;
"@MMK_R_v" = -50;
};
"@MMK_L_F" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -140;
"@MMK_R_O" = -40;
"@MMK_R_a" = -50;
"@MMK_R_f" = -30;
"@MMK_R_i" = -60;
"@MMK_R_o" = -40;
"@MMK_R_p" = -50;
"@MMK_R_s" = -40;
"@MMK_R_u" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -40;
"@MMK_R_z" = -40;
i = 0;
j = 0;
slash = -50;
};
"@MMK_L_G" = {
"@MMK_R_f" = -10;
};
"@MMK_L_I" = {
"@MMK_R_J" = -40;
};
"@MMK_L_J" = {
"@MMK_R_A" = -30;
};
"@MMK_L_K" = {
"@MMK_R_O" = -60;
"@MMK_R_o" = -30;
"@MMK_R_u" = -20;
"@MMK_R_v" = -70;
};
"@MMK_L_L" = {
"@MMK_R_O" = -60;
"@MMK_R_quoteright" = -150;
"@MMK_R_v" = -90;
};
"@MMK_L_O" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -120;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -70;
"@MMK_R_o" = 10;
"@MMK_R_t" = 20;
"@MMK_R_v" = 10;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -150;
"@MMK_R_O" = -70;
"@MMK_R_a" = -180;
"@MMK_R_i" = -170;
"@MMK_R_o" = -200;
"@MMK_R_u" = -160;
"@MMK_R_v" = -190;
i = 0;
j = 0;
};
"@MMK_L_U" = {
"@MMK_R_A" = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -140;
"@MMK_R_J" = -130;
"@MMK_R_O" = -30;
"@MMK_R_a" = -30;
"@MMK_R_o" = -50;
slash = -80;
};
"@MMK_L_W" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -120;
slash = -30;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -140;
"@MMK_R_O" = -70;
"@MMK_R_a" = -50;
"@MMK_R_i" = -50;
"@MMK_R_o" = -80;
i = 0;
j = 0;
slash = -70;
};
"@MMK_L_dash" = {
"@MMK_R_o" = 20;
};
"@MMK_L_e" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_f" = {
"@MMK_R_J" = -60;
"@MMK_R_V" = 50;
"@MMK_R_W" = 60;
"@MMK_R_X" = 30;
"@MMK_R_Y" = 40;
"@MMK_R_quoteright" = 40;
};
"@MMK_L_k" = {
"@MMK_R_A" = 40;
};
"@MMK_L_n" = {
"@MMK_R_T" = -190;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -60;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_o" = {
"@MMK_R_A" = -20;
"@MMK_R_J" = -70;
"@MMK_R_O" = 10;
"@MMK_R_T" = -200;
"@MMK_R_V" = -50;
"@MMK_R_Y" = -80;
"@MMK_R_dash" = 30;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_period" = {
"@MMK_R_quote" = -80;
"@MMK_R_quoteright" = -80;
};
"@MMK_L_q" = {
j = 50;
};
"@MMK_L_quote" = {
"@MMK_R_period" = -80;
};
"@MMK_L_quoteleft" = {
"@MMK_R_a" = -30;
"@MMK_R_o" = -60;
"@MMK_R_s" = -20;
};
"@MMK_L_quoteright" = {
"@MMK_R_s" = -50;
};
"@MMK_L_r" = {
"@MMK_R_A" = -70;
};
"@MMK_L_s" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_t" = {
"@MMK_R_A" = 30;
"@MMK_R_o" = -30;
};
"@MMK_L_v" = {
"@MMK_R_A" = -70;
"@MMK_R_J" = -110;
"@MMK_R_O" = 10;
"@MMK_R_f" = 30;
};
slash = {
"@MMK_R_a" = -80;
"@MMK_R_i" = -70;
"@MMK_R_o" = -70;
"@MMK_R_p" = -50;
"@MMK_R_s" = -70;
"@MMK_R_z" = -60;
i = 0;
};
};
m008 = {
"@MMK_L_A" = {
"@MMK_R_O" = -30;
"@MMK_R_T" = -150;
"@MMK_R_U" = -20;
"@MMK_R_V" = -130;
"@MMK_R_W" = -100;
"@MMK_R_Y" = -160;
"@MMK_R_t" = -40;
"@MMK_R_v" = -70;
};
"@MMK_L_B" = {
"@MMK_R_J" = -30;
"@MMK_R_T" = -20;
"@MMK_R_V" = -30;
"@MMK_R_W" = -30;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -30;
};
"@MMK_L_C" = {
"@MMK_R_J" = -20;
"@MMK_R_T" = -10;
"@MMK_R_f" = -30;
"@MMK_R_t" = -20;
};
"@MMK_L_E" = {
"@MMK_R_A" = 30;
"@MMK_R_O" = -40;
"@MMK_R_f" = -40;
"@MMK_R_v" = -50;
};
"@MMK_L_F" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -140;
"@MMK_R_O" = -40;
"@MMK_R_a" = -50;
"@MMK_R_f" = -30;
"@MMK_R_i" = -60;
"@MMK_R_o" = -40;
"@MMK_R_p" = -50;
"@MMK_R_s" = -40;
"@MMK_R_u" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -40;
"@MMK_R_z" = -40;
i = 0;
j = 0;
slash = -50;
};
"@MMK_L_G" = {
"@MMK_R_f" = -10;
};
"@MMK_L_J" = {
"@MMK_R_A" = -30;
};
"@MMK_L_K" = {
"@MMK_R_O" = -60;
"@MMK_R_o" = -30;
"@MMK_R_u" = -20;
"@MMK_R_v" = -70;
};
"@MMK_L_L" = {
"@MMK_R_O" = -60;
"@MMK_R_quoteright" = -150;
"@MMK_R_v" = -90;
};
"@MMK_L_O" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -120;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -70;
"@MMK_R_o" = 10;
"@MMK_R_t" = 20;
"@MMK_R_v" = 10;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -150;
"@MMK_R_O" = -70;
"@MMK_R_a" = -180;
"@MMK_R_i" = -170;
"@MMK_R_o" = -200;
"@MMK_R_u" = -160;
"@MMK_R_v" = -190;
i = 0;
j = 0;
};
"@MMK_L_U" = {
"@MMK_R_A" = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -140;
"@MMK_R_J" = -130;
"@MMK_R_O" = -30;
"@MMK_R_a" = -30;
"@MMK_R_o" = -50;
slash = -80;
};
"@MMK_L_W" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -120;
slash = -30;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -140;
"@MMK_R_O" = -70;
"@MMK_R_a" = -80;
"@MMK_R_i" = -50;
"@MMK_R_o" = -80;
"@MMK_R_p" = -50;
i = 0;
j = 0;
slash = -70;
};
"@MMK_L_dash" = {
"@MMK_R_o" = 20;
};
"@MMK_L_e" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_f" = {
"@MMK_R_J" = -60;
"@MMK_R_V" = 50;
"@MMK_R_W" = 60;
"@MMK_R_X" = 30;
"@MMK_R_Y" = 40;
"@MMK_R_quoteright" = 40;
};
"@MMK_L_k" = {
"@MMK_R_A" = 40;
};
"@MMK_L_n" = {
"@MMK_R_T" = -190;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -60;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_o" = {
"@MMK_R_A" = -20;
"@MMK_R_J" = -70;
"@MMK_R_O" = 10;
"@MMK_R_T" = -200;
"@MMK_R_V" = -50;
"@MMK_R_Y" = -80;
"@MMK_R_dash" = 30;
"@MMK_R_quoteright" = -20;
};
"@MMK_L_period" = {
"@MMK_R_quote" = -80;
"@MMK_R_quoteright" = -80;
};
"@MMK_L_q" = {
j = 50;
};
"@MMK_L_quote" = {
"@MMK_R_period" = -80;
};
"@MMK_L_quoteleft" = {
"@MMK_R_a" = -30;
"@MMK_R_o" = -60;
"@MMK_R_s" = -30;
};
"@MMK_L_quoteright" = {
"@MMK_R_s" = -50;
};
"@MMK_L_r" = {
"@MMK_R_A" = -70;
};
"@MMK_L_t" = {
"@MMK_R_A" = 30;
};
"@MMK_L_v" = {
"@MMK_R_A" = -70;
"@MMK_R_J" = -110;
"@MMK_R_O" = 10;
"@MMK_R_f" = 40;
};
slash = {
"@MMK_R_a" = -80;
"@MMK_R_i" = -70;
"@MMK_R_o" = -70;
"@MMK_R_p" = -50;
"@MMK_R_s" = -70;
"@MMK_R_z" = -60;
i = 0;
};
};
m009 = {
"@MMK_L_A" = {
"@MMK_R_O" = -30;
"@MMK_R_T" = -150;
"@MMK_R_U" = -20;
"@MMK_R_V" = -130;
"@MMK_R_W" = -100;
"@MMK_R_Y" = -160;
"@MMK_R_o" = -10;
"@MMK_R_t" = -40;
"@MMK_R_v" = -70;
};
"@MMK_L_B" = {
"@MMK_R_J" = -30;
"@MMK_R_T" = -20;
"@MMK_R_V" = -30;
"@MMK_R_W" = -30;
"@MMK_R_X" = -30;
"@MMK_R_Y" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -30;
};
"@MMK_L_C" = {
"@MMK_R_J" = -20;
"@MMK_R_T" = -10;
"@MMK_R_f" = -30;
"@MMK_R_t" = -20;
};
"@MMK_L_E" = {
"@MMK_R_A" = 30;
"@MMK_R_O" = -40;
"@MMK_R_f" = -40;
"@MMK_R_v" = -50;
};
"@MMK_L_F" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -140;
"@MMK_R_O" = -40;
"@MMK_R_a" = -50;
"@MMK_R_f" = -30;
"@MMK_R_i" = -60;
"@MMK_R_o" = -40;
"@MMK_R_p" = -50;
"@MMK_R_s" = -40;
"@MMK_R_u" = -40;
"@MMK_R_v" = -20;
"@MMK_R_x" = -40;
"@MMK_R_z" = -40;
i = 0;
j = 0;
slash = -50;
};
"@MMK_L_G" = {
"@MMK_R_f" = -10;
};
"@MMK_L_J" = {
"@MMK_R_A" = -30;
};
"@MMK_L_K" = {
"@MMK_R_O" = -60;
"@MMK_R_o" = -30;
"@MMK_R_u" = -20;
"@MMK_R_v" = -70;
};
"@MMK_L_L" = {
"@MMK_R_O" = -60;
"@MMK_R_quoteright" = -150;
"@MMK_R_v" = -90;
};
"@MMK_L_O" = {
"@MMK_R_A" = -40;
"@MMK_R_J" = -120;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -70;
"@MMK_R_o" = 10;
"@MMK_R_t" = 20;
"@MMK_R_v" = 10;
};
"@MMK_L_P" = {
"@MMK_R_A" = -80;
};
"@MMK_L_T" = {
"@MMK_R_A" = -150;
"@MMK_R_O" = -70;
"@MMK_R_a" = -180;
"@MMK_R_i" = -170;
"@MMK_R_o" = -200;
"@MMK_R_u" = -160;
"@MMK_R_v" = -190;
i = 0;
j = 0;
};
"@MMK_L_U" = {
"@MMK_R_A" = -30;
};
"@MMK_L_V" = {
"@MMK_R_A" = -140;
"@MMK_R_J" = -130;
"@MMK_R_O" = -30;
"@MMK_R_a" = -30;
"@MMK_R_o" = -50;
slash = -80;
};
"@MMK_L_W" = {
"@MMK_R_A" = -100;
"@MMK_R_J" = -120;
slash = -30;
};
"@MMK_L_Y" = {
"@MMK_R_A" = -160;
"@MMK_R_J" = -140;
"@MMK_R_O" = -70;
"@MMK_R_a" = -60;
"@MMK_R_i" = -50;
"@MMK_R_o" = -80;
i = 0;
j = 0;
slash = -70;
};
"@MMK_L_dash" = {
"@MMK_R_o" = 20;
};
"@MMK_L_e" = {
"@MMK_R_quoteright" = -20;
};
"@MMK_L_f" = {
"@MMK_R_J" = -60;
"@MMK_R_V" = 50;
"@MMK_R_W" = 60;
"@MMK_R_X" = 30;
"@MMK_R_Y" = 40;
"@MMK_R_quoteright" = 40;
};
"@MMK_L_k" = {
"@MMK_R_A" = 40;
};
"@MMK_L_n" = {
"@MMK_R_T" = -190;
"@MMK_R_V" = -30;
"@MMK_R_Y" = -60;
"@MMK_R_quoteright" = -40;
};
"@MMK_L_o" = {
"@MMK_R_A" = -20;
"@MMK_R_J" = -70;
"@MMK_R_O" = 10;
"@MMK_R_T" = -200;
"@MMK_R_V" = -50;
"@MMK_R_Y" = -80;
"@MMK_R_dash" = 30;
"@MMK_R_quoteright" = -50;
};
"@MMK_L_period" = {
"@MMK_R_quote" = -80;
"@MMK_R_quoteright" = -80;
};
"@MMK_L_q" = {
j = 50;
};
"@MMK_L_quote" = {
"@MMK_R_period" = -80;
};
"@MMK_L_quoteleft" = {
"@MMK_R_a" = -30;
"@MMK_R_o" = -60;
"@MMK_R_s" = -20;
};
"@MMK_L_quoteright" = {
"@MMK_R_s" = -40;
};
"@MMK_L_r" = {
"@MMK_R_A" = -70;
};
"@MMK_L_t" = {
"@MMK_R_A" = 30;
};
"@MMK_L_v" = {
"@MMK_R_A" = -70;
"@MMK_R_J" = -110;
"@MMK_R_O" = 10;
"@MMK_R_f" = 40;
};
slash = {
"@MMK_R_a" = -80;
"@MMK_R_i" = -70;
"@MMK_R_o" = -70;
"@MMK_R_p" = -50;
"@MMK_R_s" = -70;
"@MMK_R_z" = -60;
i = 0;
};
};
};
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
},
{
type = bodyHeight;
},
{
name = "Visual Descender";
}
);
properties = (
{
key = copyrights;
values = (
{
language = dflt;
value = "Copyright 2025 The Amarna Project Authors (https://github.com/ijvanl/Amarna)";
}
);
},
{
key = designers;
values = (
{
language = ENG;
value = "Ishtar van Looy";
}
);
},
{
key = designerURL;
value = "https://ishtar.page/";
},
{
key = licenses;
values = (
{
language = dflt;
value = "This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: https://openfontlicense.org";
}
);
},
{
key = licenseURL;
value = "https://openfontlicense.org";
}
);
settings = {
fontType = variable;
previewRemoveOverlap = 0;
};
stems = (
{
name = "VStem 1";
},
{
name = "VStem 2";
},
{
horizontal = 1;
name = "HStem 1";
},
{
horizontal = 1;
name = "HStem 2";
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 3;
}
