{
.appVersion = "3134";
.formatVersion = 3;
axes = (
{
name = Weight;
tag = wght;
},
{
name = Italic;
tag = ital;
}
);
date = "2024-07-30 02:16:30 +0000";
familyName = Amarna;
featurePrefixes = (
{
automatic = 1;
code = "languagesystem DFLT dflt;

languagesystem latn dflt;
languagesystem latn CAT;
";
name = Languagesystems;
}
);
features = (
{
automatic = 1;
code = "feature locl;
feature ordn;
feature case;
";
tag = aalt;
},
{
automatic = 1;
code = "lookup locl_latn_0 {
	script latn;
	language CAT;
	sub l periodcentered' l by periodcentered.loclCAT;
	sub L periodcentered' L by periodcentered.loclCAT.case;
} locl_latn_0;
";
tag = locl;
},
{
automatic = 1;
code = "sub [zero one two three four five six seven eight nine] [A a]' by ordfeminine;
sub [zero one two three four five six seven eight nine] [O o]' by ordmasculine;
";
tag = ordn;
},
{
automatic = 1;
code = "sub periodcentered.loclCAT by periodcentered.loclCAT.case;
";
tag = case;
},
{
automatic = 1;
code = "lookup rlig_latn_0 {
	lookupflag IgnoreMarks;
	script latn;
	sub f b by f_b.rlig;
	sub f h by f_h.rlig;
	sub f k by f_k.rlig;
	sub f l by f_l.rlig;
	sub f thorn by f_thorn.rlig;
} rlig_latn_0;
";
tag = rlig;
},
{
code = "#ifdef VARIABLE

condition 550 < wght;
sub dollar by dollar.bold;
sub cent by cent.bold;

#endif";
tag = rlig;
}
);
fontMaster = (
{
axesValues = (
100,
0
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = Light;
id = m006;
metricValues = (
{
over = 20;
pos = 750;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
over = -20;
pos = -300;
},
{
}
);
name = Hairline;
stemValues = (
35,
25,
30,
35
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
100,
1
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = Light_Extended;
id = m007;
metricValues = (
{
over = 20;
pos = 750;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
over = -20;
pos = -300;
},
{
pos = 8;
}
);
name = "Hairline Italic";
stemValues = (
80,
60,
65,
80
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
400,
0
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
id = m002;
metricValues = (
{
over = 20;
pos = 750;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
over = -20;
pos = -300;
},
{
}
);
name = Regular;
stemValues = (
80,
60,
65,
80
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
400,
1
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = Extended;
id = m003;
metricValues = (
{
over = 20;
pos = 750;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
over = -20;
pos = -300;
},
{
pos = 8;
}
);
name = Italic;
stemValues = (
80,
60,
65,
80
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
700,
0
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = SemiBold;
id = m008;
metricValues = (
{
over = 20;
pos = 750;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
over = -20;
pos = -300;
},
{
}
);
name = Bold;
stemValues = (
95,
70,
75,
95
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
},
{
axesValues = (
700,
1
);
guides = (
{
angle = 113.6725;
pos = (462,-160);
}
);
iconName = SemiBold_Extended;
id = m009;
metricValues = (
{
over = 20;
pos = 750;
},
{
over = 20;
pos = 700;
},
{
over = 20;
pos = 500;
},
{
over = -20;
},
{
over = -20;
pos = -300;
},
{
pos = 8;
}
);
name = "Bold Italic";
stemValues = (
95,
70,
75,
95
);
userData = {
GSOffsetHorizontal = 20;
GSOffsetMakeStroke = 1;
GSOffsetProportional = 1;
GSOffsetVertical = 10;
};
}
);
instances = (
{
axesValues = (
100,
0
);
instanceInterpolations = {
m006 = 1;
};
name = Hairline;
weightClass = 100;
},
{
axesValues = (
100,
1
);
instanceInterpolations = {
m007 = 1;
};
isItalic = 1;
linkStyle = Hairline;
name = "Hairline Italic";
weightClass = 100;
},
{
axesValues = (
200,
0
);
instanceInterpolations = {
m002 = 0.33333;
m006 = 0.66667;
};
name = Thin;
weightClass = 200;
},
{
axesValues = (
200,
1
);
instanceInterpolations = {
m003 = 0.33333;
m007 = 0.66667;
};
isItalic = 1;
linkStyle = Thin;
name = "Thin Italic";
weightClass = 200;
},
{
axesValues = (
300,
0
);
instanceInterpolations = {
m002 = 0.66667;
m006 = 0.33333;
};
name = Light;
weightClass = 300;
},
{
axesValues = (
300,
1
);
instanceInterpolations = {
m003 = 0.66667;
m007 = 0.33333;
};
isItalic = 1;
linkStyle = Light;
name = "Light Italic";
weightClass = 300;
},
{
axesValues = (
400,
0
);
instanceInterpolations = {
m002 = 1;
};
name = Regular;
},
{
axesValues = (
400,
1
);
instanceInterpolations = {
m003 = 1;
};
isItalic = 1;
linkStyle = Regular;
name = "Regular Italic";
},
{
axesValues = (
500,
0
);
instanceInterpolations = {
m002 = 0.66667;
m008 = 0.33333;
};
name = Medium;
weightClass = 500;
},
{
axesValues = (
500,
1
);
instanceInterpolations = {
m003 = 0.66667;
m009 = 0.33333;
};
isItalic = 1;
linkStyle = Medium;
name = "Medium Italic";
weightClass = 500;
},
{
axesValues = (
600,
0
);
customParameters = (
{
name = "Rename Glyphs";
value = (
"dollar.bold=dollar",
"cent.bold=cent"
);
}
);
instanceInterpolations = {
m002 = 0.33333;
m008 = 0.66667;
};
name = Semibold;
weightClass = 600;
},
{
axesValues = (
600,
1
);
customParameters = (
{
name = "Rename Glyphs";
value = (
"dollar.bold=dollar",
"cent.bold=cent"
);
}
);
instanceInterpolations = {
m003 = 0.33333;
m009 = 0.66667;
};
isItalic = 1;
linkStyle = Semibold;
name = "Semibold Italic";
weightClass = 600;
},
{
axesValues = (
700,
0
);
customParameters = (
{
name = "Rename Glyphs";
value = (
"dollar.bold=dollar",
"cent.bold=cent"
);
}
);
instanceInterpolations = {
m008 = 1;
};
isBold = 1;
linkStyle = Regular;
name = Bold;
weightClass = 700;
},
{
axesValues = (
700,
1
);
customParameters = (
{
name = "Rename Glyphs";
value = (
"dollar.bold=dollar",
"cent.bold=cent"
);
}
);
instanceInterpolations = {
m009 = 1;
};
isBold = 1;
isItalic = 1;
linkStyle = Regular;
name = "Bold Italic";
weightClass = 700;
}
);
metrics = (
{
type = ascender;
},
{
type = "cap height";
},
{
type = "x-height";
},
{
type = baseline;
},
{
type = descender;
},
{
type = "italic angle";
}
);
stems = (
{
name = "VStem 1";
},
{
name = "VStem 2";
},
{
horizontal = 1;
name = "HStem 1";
},
{
horizontal = 1;
name = "HStem 2";
}
);
unitsPerEm = 1000;
versionMajor = 1;
versionMinor = 0;
}
