{
displayStrings = (
"cč",
"̨uų",
"of/f_b.rlig eat",
"/f_h.rlig",
"/f_k.rlig",
"of/f_l.rlig line",
"/f.lig_ascender",
"?/.notdef",
"?/_corner.mitre",
"?/.notdef",
":",
"",
"¢",
"",
$,
S,
"̈Ü",
"̂â",
"̈ä",
"",
"Ť",
G,
a,
"}",
"¶",
"|",
"Α",
"◌",
"+",
"×",
"›‹«",
"›‹",
"›",
"'",
"‚",
"",
"1",
"",
"",
"̄uū",
"uű",
"̋ű",
"/caroncomb.alt Ľ",
"/caroncomb.alt LĽ",
E,
"^",
"",
"36º",
"ª",
"",
"RPF₹",
"€",
"₹500",
"₹",
"α",
"/paragraphseparator",
"",
"/lineseparator",
"æ",
"œ",
c,
e,
"fſ",
"ß",
"fafaſs",
"J/Jacute",
"̀ì",
"́í",
"̀ì",
"́í",
"́̀ì",
"̀ì",
"̦RŖ",
"RŖ",
"̧Ţ",
"Ş",
"nñ",
"nñ",
"uũ",
"nñ",
"nñ",
"nñ",
"nñ",
"Ǔ",
"̌ǔ",
"HĤ",
"hĥ",
"JĴ",
"̂ĉ",
"ẞ",
"¦",
"+†",
"",
"†",
"†‡",
"‡"
);
}
